textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    height: 70%;
    resize:none;
}
input[type = text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    height: 5%;
    resize:none;
}

input[type = submit] {
    border: 1px solid black;
    border-radius: 4px;
    padding:10px 20px;
}
#form {
    text-align: center;
    width: 70%;
    height: 70%;
}
#form>form {
    height: 100%;
    width: 100%;
}
#mainContent {
    background-color:#78CAD2;
    text-align: center;
}